[Unit]
Description=Discord Premiumize Downloader Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/PREMIUMIZER
ExecStart=/opt/PREMIUMIZER/venv/bin/python /opt/PREMIUMIZER/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
